:root {
    --cherryRed-0: #BA4C66;
    --cherryRed-1: #9b2b45;
    --cherryRed-2: #780F27;
    --cherryRed-3: #510013;

    --cherryGreen-0: #7DE06D;
    --cherryGreen-1: #59d149;
    --cherryGreen-2: #3DBF29;
    --cherryGreen-3: #249C11;


    --lightBg-0: #FFF9F0;
    --lightBg-1: #f6e7d4;
    --lightBg-2: #D2BC9F;
    --lightBg-3: #B2956F;


    --darkBg-0: #51586A;
    --darkBg-1: #383e4d;
    --darkBg-2: #202736;
    --darkBg-3: #151D30;
}

:root, [data-theme="light"] {
    --bg-color: var(--lightBg-1);
    --text-color: var(--darkBg-3);
}
[data-theme="dark"] {
    --bg-color: var(--darkBg-2);
    --text-color: var(--lightBg-0);
}




body  {
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 10px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.throbber-spin {
    display: inline-block;
    transform-box: fill-box;
    transform-origin: center;
    will-change: transform;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    & g {
        transform-origin: 256px 256px;
    }
}


.main-navbar {
    display: flex;
    align-items: center;
}
.main-navbar a {
    --light-part: var(--lightBg-0);
    --dark-part: var(--text-color);

    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: calc-size(fit-content, size + 15px);
    height: calc-size(fit-content, size + 15px);

    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;

    border-radius: 10px;

    color: var(--dark-part);

    transition-duration: 100ms;


    /* Every anchor if it's followed by another anchor separated by a divider */
    &:has(+ a) {
        margin-right: 22px;
        &::after { /* Divider */
            content: "";
            position: absolute;
            right: -12px;
            top: 50%;
            width: 2.5px;
            height: 50%;
            transform: translateY(-50%);
            border-radius: 999px;
            background-color: var(--dark-part);
            pointer-events: none;

        }
    }

    &:hover,&:focus-visible {
        color: var(--light-part);
        background-color: var(--cherryRed-1);
    }
    &:focus-visible {
        outline: 5px solid var(--cherryGreen-2);
        outline-offset: 3px;
    }
}

@supports (corner-shape: squircle) {
    .main-navbar a {
        corner-shape: squircle;
        border-radius: 20px !important;
    }
}