.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}

.modal-content {
    background: #3a6637;
    color: white;
    padding: 20px;
    width: 550px;
    margin: 15% auto;
}

.cancel-btn {
    background-color: #f6e7d4;
    color: #9b2b45;
    border: none;
}

.confirm-delete-btn {
    background-color: #9b2b45;
    color: #f6e7d4;
    border: none;
}